@import '~normalize.css/normalize.css';
@import '~font-awesome/less/font-awesome.less';


* {
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
  line-height: 1.5em;
  color: rgb(51, 51, 51);
  font-size: 14px;
}


a {
  text-decoration: none;
  outline: 0 !important;
}
