@import '~normalize.css/normalize.css';
@import '~font-awesome/less/font-awesome.less';


* {
  box-sizing: border-box;
}


html, body, #root {
  height: 100%;
  line-height: 1.5em;
}


a {
  text-decoration: none;
}
