//------------------------
// COLORS
//
// Author: Lorenzo Ruiz
//------------------------


@darker-blue-gray: #222933;
@dark-blue-gray: #2B333E;
@blue-gray: #333c48;
@light-blue-gray: #C1CDD6;
@lighter-blue-gray: #F1F4F8;

@darker-gray: #333;
@dark-gray: #555;
@gray: #aaa;

@green: #80BD01;
@red: #CC525B;
