//------------------------
// FORMS
//
// Author: Lorenzo Ruiz
//------------------------

@import './variables';
@import './colors';


:local(.formGroup) {
  margin-bottom: 15px;
}

:local(.formLabel) {
  width: 100%;
  display: inline-block;
  color: lighten(@dark-gray, 10%);
  margin-bottom: 5px;
}

:local(.inputField) {
  width: 100%;
  height: 40px;
  display: block;
  padding: 6px 12px;
  font-size: 14px;
  color: @dark-gray;
  background: #fff;
  border: 1px solid #ccc !important;
  border-radius: @border-radius-default;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset !important;
}

:local(.inputFieldWithSymbol) {
  width: 100%;
  > div {
    width: ~'calc(100% - 50px)';
    display: inline-block;
    border: 0;
    input {
      width: 100%;
      border-radius: @border-radius-default 0 0 @border-radius-default;
    }
  }
  > input {
    width: ~'calc(100% - 50px)';
    border-radius: @border-radius-default 0 0 @border-radius-default;
    display: inline-block;
    vertical-align: top;
  }
}

:local(.inputFieldSymbol) {
  width: 50px !important;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  color: darken(@gray, 30%);
  font-size: 1.2em;
  background: @light-gray;
  border: 1px solid #ccc !important;
  border-left: 0 !important;
  border-radius: 0 @border-radius-default @border-radius-default 0;
}

:local(.textareaField) {
  composes: inputField;
  height: 120px;
}

:local(.errorInputField) {
  composes: inputField;
  border-color: @red;
  background: @light-red;
}

:local(.errorTextareaField) {
  composes: textareaField;
  composes: errorInputField;
}

:local(.errorMessage) {
  color: @red;
  font-size: 0.8em;
  display: block;
  margin-top: 5px;
}

:local(.button) {
  composes: button from '!less!./buttons.less';
  min-width: 100px;
}

:local(.submitButton) {
  composes: button;
  composes: primary from '!less!./buttons.less';
}
