//------------------------
// DATA FILTER
//
// Author: Lorenzo Ruiz
//------------------------

@import '../variables';
@import '../colors';


:local(.container) {
  composes: containerSheet from '!less!../containers.less';
  padding: 0;
  margin-bottom: 15px;
}

:local(.header) {
  border-bottom: 0;
  padding: 7px 15px;
  display: flex;
  justify-content: space-between;
}

:local(.opened) {
  composes: header;
  border-bottom: 1px solid #ddd;
}

:local(.title) {
  font-weight: bold;
  font-size: 15px;
  float: left;
  padding-top: 2px;
  padding-bottom: 2px;
}

:local(.actions) {
  list-style: none;
  margin: 0;
  padding: 0;
}

:local(.action) {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.0);
  border-radius: @border-radius-default;
  padding: 1px 3px;

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

:local(.body) {
  overflow: hidden;
  padding: 15px 20px;
  display: none;
}

:local(.filters) {
  display: flex;
}

:local(.formGroup) {
  width: 230px;
  margin-bottom: 15px;
  margin-right: 20px;
}

:local(.filterLabel) {
  composes: formLabel from '!less!../forms.less';
  font-size: 0.9em;
}

:local(.filterInput) {
  composes: inputField from '!less!../forms.less';
}
