//------------------------
// DATA TABLE
//
// Author: Lorenzo Ruiz
//------------------------

@import '../variables';
@import '../colors';


:local(.DataTableContainer) {
  composes: containerSheet from '!less!../containers.less';
  padding: 0;
}

:local(.shownItemsControls) {
  color: #777;
  font-size: 0.9em;
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
}

:local(.shownItemsSelectorContainer) {
}

:local(.shownItemsSelector) {
  font-weight: normal;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: @border-radius-default;
  padding: 1px 7px;
  margin-right: 5px;
}

:local(.shownItemsCount) {
  padding-top: 3px;
}

:local(.dataTable) {
  width: 100%;
  border-bottom: 1px solid @light-gray;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;

  > thead > tr > th {
    text-align: left;
    padding: 8px 15px;
    padding-bottom: 15px;
    vertical-align: bottom;
    border-bottom: 1px solid @light-gray;

    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }

  > tbody > tr {
    &:hover {
      background: @light-blue;
    }
  }

  > tbody > tr > td {
    height: 60px;
    vertical-align: middle;
    color: @darker-gray;
    padding: 8px 15px;
    border-top: 1px solid @light-gray;

    &:first-child {
      padding-left: 30px;
    }

    &:last-child {
      padding-right: 30px;
    }
  }
}

:local(.tablePagination) {
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
}

:local(.tablePaginationControl) {
  list-style: none;
  padding: 0;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: -5px;

  > li {
    border: 1px solid #ddd;
    cursor: pointer;
    margin-left: -1px;
    padding: 0;
    display: inline-block;
    vertical-align: top;

    &:hover {
      background: darken(#fff, 5%);
    }

    > input {
      width: 40px;
      text-align: center;
      background: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
      border: 0;
      color: #777;
      padding: 6px 12px;
    }

    &:first-child {
      margin-left: 0;
      padding: 4px 12px 3px 12px;
      padding-left: 5px;
      border-radius: @border-radius-default 0 0 @border-radius-default;
    }

    &:last-child {
      padding: 4px 12px 3px 12px;
      padding-right: 5px;
      border-radius: 0 @border-radius-default @border-radius-default 0;
    }
  }
}
