//------------------------
// SIDEBAR
//
// Author: Lorenzo Ruiz
//------------------------


@import '../colors';


:local(.SidebarContainer) {
}


:local(.sidebar) {
  width: 230px;
  background: @blue-gray;


  :local(.sidebarHeader) {
    background: @dark-blue-gray;
  }

}
